<app-header></app-header>
<div class="fluid-container">
    <div class="row">
        <div class="col-sm-3">
            <img [src]="user.profilePickLink" alt="" class="profile-pick">
        </div>
        <div class="col-sm-9">
            <mat-list>
                <mat-list-item>First name: {{ user.firstName}}</mat-list-item>
                <mat-list-item>Last name: {{ user.lastName}}</mat-list-item>
                <mat-list-item>Username: {{ user.username }}</mat-list-item>
                <mat-list-item>Email: {{ user.email }}</mat-list-item>
                <mat-list-item>Birth Date: {{ user.birthDate| date:'dd.MM.yyyy' }}</mat-list-item>
            </mat-list>
            <button mat-flat-button color="primary" class="pull-right" *ngIf="userId == loginService.getUserId()" (click)="onEditClicked()">Edit</button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Writer">
            <p class="user-rating" #aboveArticles>
                <app-rating [rating]="user.writerRating" [changable]="false">Writer rating: </app-rating></p>
            <p class="user-topics">Topics:
                <span *ngFor="let topic of user.writerTopics; let i = index"> {{ topic.topicName }}
                    <span *ngIf="i < user.writerTopics.length - 1">,</span>
                </span>
            </p>
            <p class="user-description">{{ user.writerDescription}}</p>
            <mat-divider></mat-divider>

            <table mat-table [dataSource]="userArticlesDataSource">
                <ng-container class="container-fluid" matColumnDef="article">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let article">
                        <app-article-preview [articlePreview]="article">
                        </app-article-preview>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['article']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['article'];"></mat-row>
            </table>

            <mat-paginator #articlesPaginator></mat-paginator>
        </mat-tab>
        <mat-tab label="Reviewer">
            <p class="user-rating">
                <app-rating [rating]="user.reviewerRating" [changable]="false">Reviewer rating: </app-rating>
            </p>
            <p class="user-topics">Topics:
                <span *ngFor="let topic of user.reviewerTopics; let i = index">{{ topic.topicName }}
                    <span *ngIf="i < user.reviewerTopics.length - 1">,</span>
                </span>
            </p>
            <p class="user-description"> {{ user.reviewerDescription}} </p>
            <mat-divider></mat-divider>
            <app-comment-list
                [id]="user.id"
                [sourceType]="'user'"
                [showArticle]="true"
                [showSorting]="false">

            </app-comment-list>
        </mat-tab>
    </mat-tab-group>
</div>
