<mat-card>
    <app-rating
    [rating]="comment.rating"
    [changable]="comment.userId !== loginService.getUserId()"
    [sourceType]="'comment'"
    [sourceId]="comment.id"></app-rating>
    <mat-card-subtitle><a routerLink="/profile/{{ comment.userId }}">{{ comment.userName }}</a></mat-card-subtitle>
    <mat-card-subtitle *ngIf="showArticle">Article: <a routerLink="/article/{{ comment.articleId }}">{{ comment.articleTitle }}</a></mat-card-subtitle>
    <mat-card-content>
        {{ comment.content }}
    </mat-card-content>
    <mat-card-actions *ngIf="comment.userId === loginService.getUserId()">
        <button mat-mini-fab color="primary" (click)="onEdit()"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
    <mat-card-footer>
        {{ comment.publishDate| date:'dd.MM.yyyy, h:mm a'  }}
    </mat-card-footer>
</mat-card>
