.parent {
    min-height: 100%;
    background: linear-gradient(#FFD7A1, #BB86FF);
}

form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: flex-start;
}

mat-form-field:nth-child(1) {
    width: 550px;
}

mat-form-field:nth-child(1) {
    font-size: 18px;
}

mat-form-field:nth-child(3),
mat-form-field:nth-child(4) {
    width: 800px;
}

mat-form-field,
app-editable-tags-list {
    margin: 24px 24px 0 0;
}

button {
    margin: 35px 0 0 350px;
    width: 90px;
}
