<app-header></app-header>
<div class="container-fluid">
    <form [formGroup]="userRegisterModel" (ngSubmit)="onSubmit()">
        <div class="inline-block">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput type="text" [formControl]="firstName">
                <mat-error *ngIf="firstName.hasError('minlength')">Must have at least 2 characters</mat-error>
                <mat-error *ngIf="firstName.hasError('maxlength')">Must have no more then 30 characters</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput type="text" [formControl]="lastName">
                <mat-error *ngIf="lastName.hasError('minlength')">Must have at least 2 characters</mat-error>
                <mat-error *ngIf="lastName.hasError('maxlength')">Must have no more then 30 characters</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [formControl]="username">
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>
            <mat-error *ngIf="username.hasError('minlength')">Must have at least 4 characters</mat-error>
            <mat-error *ngIf="username.hasError('maxlength')">Must have no more then 30 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email">
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="email.hasError('email')">Provide a valide email</mat-error>
            <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="email.hasError('maxlength')">Must have no more then 30 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'text': 'password'" [formControl]="password">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="no-margin">
            <mat-icon>{{hide ? 'visibility':'visibility_off'}}</mat-icon>
            </button>
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="password.hasError('minlength')">Must have at least 8 characters</mat-error>
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="password.hasError('maxlength')">Must have no more then 30 characters</mat-error>
        </mat-form-field>

        <button mat-raised-button [disabled]="!userRegisterModel.valid" type="submit" color="primary">Register</button>
    </form>
</div>
