<div class="parent">
    <app-header></app-header>
    <form [formGroup]="articleEditModel" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" [formControl]="title">
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="title.hasError('maxlength')">Must have no more than 200 characters</mat-error>
            <mat-error *ngIf="title.hasError('required')">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Overiew</mat-label>
            <textarea matInput type="text" [formControl]="overview" rows="8"></textarea>
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="overview.hasError('maxlength')">Must have no more than 1000 characters</mat-error>
            <mat-error *ngIf="overview.hasError('required')">Overview is required</mat-error>
        </mat-form-field>

        <h3>Content</h3>
        <mat-form-field appearance="outline">
            <editor
            [formControl]="content"
            apiKey="qa9ia752lw3da955blbrwbcouwn98wvluk5iwwdkiqrfxvmd"
            (onInit)="handleEditorInit($event)"
            [init]="{
                icons: 'material',
                skin:'borderless',
                plugins: 'link, image',
                toolbar: 'fontsizeselect| formatselect | bold italic underline | backcolor forecolor | image link| outdent indent',
                menubar: false,
                min_height: 500,
                max_height: 800,
                width: '100%',
                statusbar: false,
                content_style: '.mce-content-body { margin: 0!important; }'
            }"
            ></editor>
            <textarea matInput class="no-display"></textarea>
            <mat-hint>Required</mat-hint>
            <mat-error *ngIf="content.hasError('required')">Content is required</mat-error>
        </mat-form-field>

        <app-editable-tags-list
        [tags]="tags.value"
        [title]="'Tags'"
        (listUpdated)="onTagsUpdated($event)">
        </app-editable-tags-list>

        <button mat-raised-button color="primary" [disabled]="!articleEditModel.valid" type="submit">Save</button>

    </form>
</div>
