.row, .mat-paginator, .mat-table {
    background: transparent!important;
}

.mat-header-row {
    display: none!important;
}

.mat-cell {
    padding-left: 0px;
    padding-right: 0px;
}

th {
    padding-right: 8px;
    padding-bottom: 4px;
}

app-comment,
.mat-table {
    width: 100%;
}
