<div class = "parent">
    <app-header></app-header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <app-search (queryModified)="onSearchModified($event)" #searchBar></app-search>

          <table matSort (matSortChange)="onSortChanged($event)">
              <tr>
                <th mat-sort-header="rating">Rating</th>
                <th mat-sort-header="publishDate">Publish Date</th>
                <th mat-sort-header="title">Alphabetical</th>
              </tr>
          </table>

          <div class="spinner-container" *ngIf="dataSource.loading$| async">
            <mat-spinner></mat-spinner>
          </div>

          <table mat-table [dataSource]="dataSource">
            <ng-container class="container-fluid" matColumnDef="article">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let article">
                  <app-article-preview [articlePreview]="article">
                  </app-article-preview>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['article']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['article'];"></mat-row>
          </table>

          <mat-paginator></mat-paginator>
        </div>
        <div class="col-sm-3">
          <app-filters (applyFilters)="onApplyFilters($event)"></app-filters>
        </div>
      </div>
    </div>
  </div>
