mat-list-item {
    background: white;
    width: 40%;
    text-align: middle;
    height: fit-content;
    padding: 8px 4px;
}

mat-list {
    border: 1px solid black;
    width: 40%;
    padding: 0;
    word-break: break-all;
}

button {
    margin: 5px;
}

.add-btn {
    margin-left: 15px;
}

p {
    margin:0;
    width: 100%;
}
